.wrapper-404{
	padding: 120px 0;
	@media (max-width: 767px){
		padding: 80px 0;
	}
	.container{
		max-width: 680px;
	}
	img{
		max-width: 100%;
	}
	.this-message{
		margin-top: 35px;
		margin-bottom: 20px;
		font-family: $font2;
		font-weight: 800;
		font-size: 48px;
		@media (max-width: 479px){
			font-size: 36px;
		}
	}
	.this-desc{
		font-family: $font;
		font-size: 16px;
		line-height: 26px;
		margin-bottom: 35px;
	}
	.btn{
		padding: 0 65px;
	}	
}