.from-blogs{
	padding: 105px 0;
	
	.section-title{
		margin-bottom: 60px;
	}
}
.latest-blog{
	padding: 15px;
	@media (max-width: 991px){
		max-width: 630px;
		margin: 0 auto;
	}
	@media (max-width: 639px){
		max-width: 330px;
		margin: 0 auto;
	}
	.media-left{
		padding-right: 20px;
	
		@media (max-width: 639px){
			padding-right: 0;
		}
		a{
			width: 300px;
			display: block;
			@media (max-width: 1199px) and (min-width: 992px){
				width: 220px;
			}
			img{
				max-width: 100%;
			}
		}
	}
	.media-body{
		vertical-align: middle;
	
		@media (max-width: 639px){
			display: block;
			padding-top: 20px;
		}
	}
	
	.read-more{
		line-height: 50px;
	}
}

.post-title{
	font-family: $font2;
	font-weight: 800;
	line-height: 26px;
	margin-top: 0;
	margin-bottom: 15px;
	display: inline-block;
	@include transition;
	@media (max-width: 1199px) and (min-width: 992px){
		margin-bottom: 10px;
	}
}
.post-meta{
	font-style: italic;
	font-family: $font;
	line-height: 12px;
	margin-top: 0;
	margin-bottom: 30px;
	width: 100%;
	display: table;
	@media (max-width: 1199px) and (min-width: 992px){
		margin-bottom: 15px;
	}
	a{
		padding: 0 10px;
		float: left;
		&:first-child{
			padding-left: 0;
		}
		&:last-child{
			padding-right: 0;
		}
		i{
			margin-right: 3px;
			line-height: 12px;
		}

		& + a{
			border-left: 1px solid;
		}
	}
}
/*--------------------------------------------------------------------------------------------*/
.wrapper-blog{
	
}

.blog-section{
	padding: 80px 15px;
	@media (min-width: 768px){
		padding-bottom: 120px;
	}
}
.pagination-row{
	margin: 0;
	padding-top: 20px;
	border-top: 1px solid;
	border-top-color: transparentize($color2,0.9);
	@media(max-width: 991px){
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 630px;
		margin: 0 auto;
	}
}
.pagi-info{
	float: left;
	h5{
		margin: 13px 0;
		float: left;
		line-height: 1;
		font-family: $font;
		color: $color5;
		span{
			color: $base-c1;
			font-weight: 700;
		}
		& + h5{
			margin-left: 15px;
			border-left: 1px solid;
			padding-left: 28px;
			border-color: transparentize($color2,0.9);
		}
	}
	span{}
	
	&.style2{
		h5{
			margin-top: 0;
			margin-bottom: 40px;
		}
	}
}

.pagination{
	float: right;
	margin: 0;
	@media (max-width: 991px){
		float: left;
		margin-top: 30px;
	}
	@media(max-width: 767px){
		display: flex;
		flex-direction: row;
	}
	li{
		float: left;
		&:first-child a,&:last-child a{
			border-radius: 100%;
		}
		& + li{
			margin-left: 10px;
		}
		a{
			border-color: transparentize($color2,0.9);
			color: transparentize($color2,0.6);;
			border-radius: 100%;
			padding: 0;
			width: 40px;
			line-height: 38px;
			text-align: center;
			font-family: $font;
			&:hover,&:focus{
				color: $color2;
				background: none;
			}
		}
		&.active a{
			border-color: transparentize($color2,0.9);
			background: none;
			color: $base-c1;
			font-weight: bold;
		}
		&.dots a{
			width: auto;
			border: none;
			color: $color2;
			&:hover,&:focus{
				color: $color2;
				border: none;
				background: none;
			}
		}
	}
}

.post{
	margin: 0 0 80px;
	.post-title{
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	.post-meta{
		padding-bottom: 15px;		
		margin-bottom: 10px;
		border-bottom: 1px solid;
		border-bottom-color: transparentize($color7,0.95);
	}
	 @media(max-width: 767px){
	 	display: flex;
	 	flex-direction: column;
	 	.posted-by .inner{
	 		width: 100%;
	 		margin-bottom: 30px;
	 	}
	 }
}

.featured-content{
	margin: 0 0 35px;
	position: relative;
}

.post-icon{
	position: absolute;
	right: 18px;
	bottom: 17px;
	font-size: 30px;
	text-shadow: 0.707px 0.707px 3px rgba(0, 0, 0, 0.35);
	color: #fff;
	line-height: 1;
	z-index: 2;
}

.post-carousel{
	.owl-dots{
		display: table;
		margin: 0 auto;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}
	.owl-dot{
		float: left;
		width: 25px;
		height: 5px;
		background: transparentize($color2,0.7);
		& + .owl-dot{
			margin-left: 1px;
		}
		&.active{
			background: $base-c1;
		}
	}
}

.blog-video + .plyr__play-large{
	width: 60px;
	height: 60px;
	border: none;
	text-align: center;
	padding: 20px;
	background: $base-c1;
	svg{
		width: 16px;
		display: inline-block;
	}
}

.posted-by{
	padding-right: 25px;
	.inner{
		width: 100px;
		text-align: center;
	}
	
	.by-img{
		display: block;
		width: 80px;
		height: 80px;
		margin: 0 auto -34px;
		z-index: 1;
		position: relative;
		img{
			max-width: 100%;
		}
	}
	
	.by-text{
		margin: 0;
		padding: 68px 0 33px;
		border: 1px solid;
		border-color: transparentize(#000,0.95);
		color: transparentize($color2,0.7);
		font-family: $font;
		font-style: italic;
		a{
			display: block;
			text-transform: uppercase;
			font-style: normal;
			font-weight: 800;
			color: $color5;
			margin-top: 4px;
		}
	}
}

.post-excerpts{
	padding-bottom: 15px;
	color: transparentize($color5,0.25);
	font-family: $font;
	line-height: 24px;
}

.post-outer-content{
	border: none;
	width: 100%;
	height: 200px;
}

.blur-post-img{
	background: $color5;
	height: 260px;
	overflow: hidden;
	position: relative;
	img{
		max-width: 100%;
		max-height: 100%;		
		-webkit-filter: blur(15.3px);
		filter: blur(15.3px);
	}
}

.link-quote{
	font-family: $font2;
	font-weight: normal;
	display: table;
	position: relative;
	left: 50%;
	bottom: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
	color: #fff;
	&:before,&:after{
		content: '“';		
		font-family: $font2;
		font-weight: 800;
		font-size: 120px;
		position: absolute;
		color: #fff;
	}
	&:before{
		left: -55px;
		top: -40px;
	}
	&:after{
		right: -55px;
		top: 50px;
		transform: rotateY(180deg);
	}
	strong{
		display: block;
	}
	span{
		color: $base-c1;
	}
}

.post-contents{
	margin-top: 34px;
	font-family: $font;
	line-height: 24px;
	color: transparentize($color7,0.25);
	p{
		margin-bottom: 25px;
	}
	a{
		color: $color3;
		text-decoration: underline;
		&:hover,&:focus{
			color: $base-c1;
		}
	}
}

.post-media{
	margin: 45px 0;
	@media(max-width: 767px){
		display: flex;
		flex-direction: column;
		// .media-body{
		// 	width: auto;
		// }
		.media-right{
			padding-left: 0px !important;
			margin: 30px 0;
		}
	}
	p + p{
		margin-bottom: 0;
	}
	.media-body{
		vertical-align: middle;
	}
	.media-right{
		padding-left: 35px;
	}
}

.quotation{
	margin: 40px 0;
	font: italic 20px/28px $font;
	text-align: center;
	padding: 45px 0;
	background: transparentize($color2,0.95);
	border-radius: 100px;
	position: relative;
	&:before{
		content: '“';		
		font-family: $font2;
		font-weight: 800;
		font-size: 120px;
		position: absolute;
		color: $color5;
		opacity: 0.1;
		left: 125px;
		top: 72px;
		@media(max-width: 767px){
			display: none;
		}
	}
	p{
		margin: 0 auto;
		max-width: 575px;		
	}
}

.single-post{
	margin-bottom: 70px;
}
@media (max-width: 991px){
	.wrapper-blog{
		.wr-blog-res{
			max-width: 630px;
			margin: 0 auto;
		}
	}
}