.fleets2{
	padding-top: 88px;
	&:before,&:after{
		content: '';
		position: absolute;
		display: block;
		z-index: 1;
		left: 0;
		right: 0;
		bottom: 0;
		background: no-repeat scroll center top;
	}
	
	&:before{
		background-image: url(../images/fleet/bg.jpg);
		top: 0;
		opacity: 0.01;
	}
	
	&:after{
		height: 115px;
		@media (max-width: 991px){
			height: 85px;
		}
		@media (max-width: 639px){
			height: 115px;
		}
	}
	.container{
		position: relative;
		z-index: 2;
	}
}

/*Fleet*/
.fleet{	
	.inner{
		border-top: 1px solid;
		position: relative;
	}
	&.sale-offer{
		.inner{			
			&:before{
				content: '';
				position: absolute;
				display: block;
				background: no-repeat scroll 0 0;
				width: 49px;
				height: 51px;
				top: 0;
				left: 20px;
			}
		}
	}
	.vehicle-title{
		font-family: $font2;
		font-weight: 700;
		margin: 0;
	}
	.rent{
		font-family: $font2;
		font-weight: 800;
		margin-top: 30px;
		margin-bottom: 5px;
		small{
			font-family: $font;
			font-size: 14px;
			margin-right: 2px;
		}
		sub{
			font-size: 14px;
			font-family: $font2;
			margin-left: 2px;
		}
	}
	
	.reviews{
		margin: 0 0 5px;
		font-family: $font;
	}
	@media (max-width: 991px){
		margin: 0 auto;
		max-width: 630px;
		.media-left{
			padding-right: 0 !important;
		}
		.this-body{
			padding: 30px !important;
		}
	}
}

/*Fleet 2*/
.fleet2{
	padding: 15px 30px;	
	.inner{
		margin: 0;
	}
	
	&.sale-offer{
		.inner{
			&:before{
				background-image: url(../images/fleet/badge.png) ;
			}
		}
	}
	
	.vehicle-title{
		&:after{
			content: '';
			display: block;
			margin: 28px auto 0;
			width: 60px;
			height: 1px;
			background: #eee;
		}
	}
	
	.vehicle-img{
		line-height: 240px;
		text-align: center;
		margin-bottom: 20px;
		@media (max-width: 1199px){
			line-height: 180px;
		}
		@media (max-width: 991px){
			padding: 20px 0;
			line-height: 1;
		}
		img{
			max-width: 100%;
		}
	}
	
	.specification{
		padding: 20px 40px;
		border: 1px solid;
		margin: 0;
		position: relative;
		@media (max-width: 1199px){
			padding: 20px 15px;
		}
		@media (max-width: 991px){
			text-align: center;
			padding: 20px 0;
		}
		ul{
			li{
				padding: 5px 0;
				line-height: 19px;
				height: 30px;
				font-family: $font;
				float: left;
				@media (max-width: 991px){
					display: inline-block;
					float: none;
					padding: 5px;
				}
				&:nth-child(2),&:nth-child(5){
					width: 105px;
					margin-left: 20px;
					margin-right: 20px;
					@media (max-width: 1199px){
						margin: 0 5px;
					}
					@media (max-width: 991px){
						margin: 0;
						width: auto;
					}
				}
				span{
					float: left;
					width: 24px;
					text-align: right;
					margin-right: 8px;
				}
			}
		}
	}
	
	.details-page{
		width: 50px;
		line-height: 50px;
		text-align: center;
		display: block;
		position: absolute;
		border-radius: 100%;
		top: -25px;
		right: 14px;
		font-family: $font;
		font-size: 36px;
		font-weight: 100;
		box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.5);
		&:hover,&:focus{
			border-radius: 0;
		}
	}
}

/*--------------------------------------------------------------------------------------------------------------*/
.wrapper-fleet{
	padding: 80px 0 120px;
	background: #f9f9f9;
	.banner-row{
		margin-bottom: 15px;
	}
	@media( max-width: 991px){
		.pagination-row{
			.pagination{
				margin-top: 0;
			}
		}
	}
}

.fleet-filters{
	background: #fff;
	border: 1px solid #f8f8f8;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	padding: 30px 50px 30px 60px;
	margin-bottom: 52px;
	@media (max-width: 991px){
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 630px;
		margin: 0 auto 30px;
	}
	@media(max-width: 767px){
		padding: 20px;
	}
	&.style2{
		margin-bottom: 25px;
	}
	.pagination{
		@media(max-width: 991px){
			width: 100%;
			display: flex;
			justify-content: center;
		}
		li{
			a{
				&:hover,&:focus{					
					color: #fff;
					background: $color5;
					border-color: $color5;
				}
			}
			&.active a{
				background: $base-c1;
				color: #fff;
				border-color: $base-c1;				
			}
			&.dots{
				
			}
		}
	}
}

.filter-div{
	float: left;
	line-height: 35px;
	@media(max-width: 991px){
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.this-label{
		float: left;
		margin-right: 10px;
		font-family: $font;
		color: $color5;
	}
	a{
		float: left;
		margin-left: 10px;
		font-size: 18px;
		color: transparentize($color5,0.5);
		&.active,&:hover,&:focus{
			color: $base-c1;
		}
	}
	&.layout-filter{
		margin-right: 50px;
	}
}

.fleet-filter-select{
	&.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		float: left;
		width: 160px;
	}
	.btn{
		line-height: 35px;
		padding: 0 18px;
		background: none #f9f9f9;		
		box-shadow: none;
		border: 1px solid #eee;
		font-weight: normal;
		color: transparentize($color5,0.5);
	}
	&.bootstrap-select.btn-group .dropdown-toggle .caret{
		right: 18px;
	}
}

/*--------------------------------------------------------------------------------------------------------------*/
.fleet-list.fleet{
  	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
	background: #fff;
	& + .fleet{
		margin-top: 30px;
	}
	.media-left{
		padding-right: 40px;
		a{
			width: 470px;
			display: block;
			border-top: 1px solid transparent;
		}
	}
	.rent{
		float: left;
		margin-right: 15px;
		margin-top: 0;
	}
	.reviews{
		float: left;
		margin-top: 15px;
		i{
			font-size: 14px;
			&:last-child{
				margin-right: 3px;
			}
		}
	}
	
	.vehicle-title{
		margin-top: 5px;
		color: $color5;
	}
	
	.detail-btn{
		padding: 0;
		line-height: 59px;
		border: 1px solid;
		border-color: transparentize($color5,0.85);
		color: transparentize($color5,0.7);
		span{
			padding: 0 30px;
			display: inline-block;
			& + span{
				padding: 0 15px;
				background-color: $color5;
				border-top-right-radius: 50px;
				border-bottom-right-radius: 50px;
			}
		}
		&:hover,&:focus{
			background: $color5;
			color: #fff;
		}
	}
	
	.this-body{
		padding-right: 60px;
		padding-top: 30px;
		vertical-align: middle;
	}
	.summary{
		padding: 22px 40px 28px 0;
		color: transparentize($color5,0.5);
		font-family: $font;
		line-height: 24px;
		@media(max-width: 767px){
			padding: 15px;
		}
	}
	
	.specification{
		padding-top: 15px;
		border-top: 1px solid;
		border-top-color: transparentize(#1e2036,0.95);
		margin: 0;
		.nav{
			@media(max-width: 767px){
				display: flex;
				flex-direction: column;
				li{
					width: calc(100% / 1) !important;
				}
			}
			li{
				float: left;
				width: calc(100% / 3);
				line-height: 25px;
				padding: 7px 0;
				color: transparentize($color5,0.25);
				font-family: $font;
				font-weight: bold;
				span{
					float: left;
					width: 35px;
				}
			}
		}
	}
	
	&.sale-offer{
		.media-left{
			a{
				border-top-color: #f60b3c;
				position: relative;
				&:after{
					content: '';
					background: url(../images/fleet/badge-3.png) no-repeat scroll 0 0;
					width: 59px;
					height: 57px;
					display: block;
					position: absolute;
					left: 20px;
					top: 0;
				}
			}
		}
		&.fleet-sm{
			.media-left{
				a{
					&:after{
						background-image: url(../images/fleet/badge-4.png);
						height: 48px;
						width: 49px;
					}
				}
			}			
		}
	}
}

.fleet-list.fleet-sm{
	.media-left{
		padding-right: 30px;
		a{
			width: 300px;
		}
	}
	.this-body{
		padding-right: 0;
	}
	.this-header{
		padding-right: 30px;
		margin-bottom: 30px;
		
	}
	
	.vehicle-title{
		color: transparentize($color5,0.25);
	}
	
	.specification{
		padding-top: 15px;
		border-top: 1px solid;
		border-top-color: transparentize(#1e2036,0.95);
		margin: 0;
		.nav{
			li{
				line-height: 18px;
				font-weight: normal;
				span{
					width: 30px;
				}
			}
		}
	}
}

.fleet-pagination-row.fleet-filters{
	padding: 30px 50px;
	margin-bottom: 0;
	margin-top: 50px;
	
	.pagination{
		li{
			font-family: $font;
			line-height: 40px;
			color: $color5;
		}
	}
}

.fleet-banner{
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAIElEQVQYV2O0sbGpP3LkSCMDAcBISAFMflQh3pAiOngAXY8ECyYqfGoAAAAASUVORK5CYII=) repeat scroll 0 0 #1e2036;
	
	.this-img > img{
		width: auto;
		float: right;
	}
	
	.text-holder{
		position: absolute;
		top: 46px;
		left: 119px;
	}
	
	.this-cursive{
		font-family: $font3;
		font-weight: 100;
		color: #fff;
		margin: 0;
	}
	
	.this-title{
		margin-top: 0;
		margin-bottom: 8px;
		font-weight: 800;
		font-family: $font;
		color: $base-c1;
	}
	
	.this-price{
		margin-top: 0;
		margin-bottom: 18px;
		font-family: $font;
		font-weight: normal;
		color: #fff;
		span{
			color: $color3;
		}
	}
	
	.btn{
		padding: 0 37px;
		line-height: 40px;
	}
}

.banner-carousel{
	margin-bottom: 30px;
	overflow: hidden;
	.owl-prev,.owl-next{
		font-size: 24px;
		width: 60px;
		height: 60px;
		border-radius: 100%;
		text-align: center;
		color: #eee;
		position: absolute;
		top: calc(50% - 30px);
		background: #fff;
		line-height: 60px;
		@include transition;
		&:hover,&:focus{
			color: $color5;
		}
	}
	.owl-prev{
		padding-left: 20px;
		left: -30px;
	}
	.owl-next{
		padding-right: 20px;
		right: -30px;
	}
}
@media(max-width: 991px){
	.ipad-width{
		max-width: 630px;
		margin: 0 auto;
	}
}
@media (max-width: 767px){
	.this-header{
		display: flex;
		flex-direction: column;
		.media-right{
			padding-left: 0;
			margin-top: 30px;
		}
	}
}