.slide-banner{
	text-align: center;
	@media (max-width: 767px){
		background: url(../images/slide.jpg) no-repeat scroll center center;
		background-size: cover;
	}
	.this-bg{
		max-width: 100%;
	}
	
	.this-texts{
		position: absolute;
		transform: translate(-50%,-50%);
		top: 50%;
		left: 50%;
		@media (max-width: 767px){
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			padding: 100px 0;
		}
	}
	.this-cursive{
		font-family: $font3;
		font-size: 48px;
		font-weight: 100;
		margin: 0;
		@media (max-width: 479px){
			font-size: 30px;
		}
	}
	.this-h1{
		font-family: $font2;
		font-weight: 900;
		font-size: 80px;
		line-height: 1;
		margin: 10px auto;
		@media (max-width: 1199px){
			font-size: 60px;
		}
		@media (max-width: 991px){
			font-size: 50px;
		}
		@media (max-width: 479px){
			font-size: 36px;
			line-height: 1.2;
			margin: 0 auto 8px;
		}
		img{
			display: inline-block;
			margin-left: 10px;
			margin-top: -18px;
			@media (max-width: 1199px){
				max-width: 275px;
			}
			@media (max-width: 991px){
				max-width: 240px;
			}
			@media (max-width: 767px){
				margin-top: 0;
				margin-left: 0;
				max-width: 220px;
			}
			@media (max-width: 479px){
				max-width: 200px;
			}
		}
	}
	.this-foot{
		font-size: 36px;
		font-family: $font2;
		font-weight: 900;
		margin: 5px 0 45px;		
		@media (max-width: 1199px){
			margin-bottom: 20px;
		}
		@media (max-width: 479px){
			font-size: 22px;
		}
	}
	
	.slide-location{
		line-height: 1;
		font-family: $font;
		text-transform: uppercase;
		color: #fff;
		position: absolute;
		bottom: 50px;
		right: 30px;
		border-bottom: 1px solid;
		border-bottom-color: transparentize(#fff,0.8);
		padding-bottom: 15px;
		i{
			margin-left: 22px;
			margin-right: 3px;
		}
		&:hover,&:focus{
			color: $base;
		}
	}
}