.sidebar{
	padding-bottom: 120px;
	@media (min-width: 768px){
		padding: 80px 15px;
	}
	
	.widget{
		margin: 0;
		& + .widget{
			margin-top: 55px;
		}
	}
	
	.widget-title{
		font-family: $font2;
		line-height: 1;
		margin-bottom: 30px;
		margin-top: 0;
		color: $color5;
		font-weight: 800;
		text-transform: uppercase;
	}
	
	ul.media-list{
		margin-bottom: 0;
	}
}

.search-form{
	.input-group{}
	.form-control{
		border-top-left-radius: 50px;
		border-bottom-left-radius: 50px;
		padding: 0 26px;
		line-height: 50px;
		height: auto;
		border: none;
		box-shadow: none;
		font-family: $font;
		color: $color5;
		background: transparentize($color2,0.9);
		&:focus{
			box-shadow: none;
		}
		@include placeholder{
			color: transparentize($color5,0.7);
			font-style: italic;
		}		
	}
	.input-group-addon{
		border: none;
		padding: 0;
		background: none;
	}
	
	button{
		border: none;
		color: $color5;
		background: transparentize($color2,0.9);
		border-top-right-radius: 50px;
		border-bottom-right-radius: 50px;
		line-height: 48px;
		font-size: 18px;
		padding-right: 26px;
		padding-left: 5px;
	}
}

.widget-nav{
	li{
		width: 100%;
		float: left;
		& + li{
			margin-top: 25px;
		}
		i{
			float: left;
			color: $base-c1;
			line-height: 20px;
			width: 25px;
		}
		a{
			float: left;
			font-family: $font;
			color: $color5;
			padding: 0;
			&:hover,&:focus{
				color: $base-c1;
				background: none;
			}
		}
	}
}

.widget-tags{
	.tag{
		line-height: 38px;
		float: left;
		width: calc(50% - 15px);
		margin-bottom: 10px;
		&:nth-child(odd){
			margin-left: 30px;
		}
	}
}

.recent-news{
	& + .recent-news{
		margin-top: 30px;
	}
	
	.media-left{
		padding-right: 17px;		
		a{
			display: block;
			width: 67px;
			img{
				max-width: 100%;
			}
		}
	}
	
	.post-meta{
		line-height: 10px;
		font-size: 10px;
		margin-bottom: 20px;
		a{
			i{
				line-height: 10px;
			}
		}
	}
	
	.post-title{
		text-transform: uppercase;
		line-height: 24px;
		margin: 0;
	}
}

.share-the-post{
	padding: 10px 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: transparentize($color2,0.90);
	margin: 40px 0;
	.this-title{
		float: left;
		font-style: italic;
		font-family: $font;
		line-height: 28px;
		font-weight: 700;
		padding: 5px 0;
		color: $color5;
		margin: 0;
	}
	
	.social-nav{
		float: right;
		@media(max-width: 767px){
			float: left;
		}
	}
}

.author-widget{
	margin: 40px 0 70px;
	color: #fff;
	@media(max-width: 767px){
		display: flex;
		flex-direction: column;
	}
	.media-left{
		padding-right: 30px;
		position: relative;
		@media(max-width: 767px){
			padding-right: 0;
		}
		&:after{
			content: '';
			width: 0;
			height: 0;
			border-right: 10px solid;
			border-right-color: $base-c1;
			border-top: 13px solid transparent;
			border-bottom: 13px solid transparent;
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
			@media(max-width: 767px){
				display: none;
			}
		}
	}
	.this-img{
		display: block;
		width: 165px;
		@media(max-width: 767px){
			width: 100%;
			img{
				width: 100%;
			}
		}
		img{
			max-width: 100%;
		}
	}
	
	.media-body{
		background: $base-c1;
		padding: 0 70px 0 35px;
		vertical-align: middle;
		@media(max-width: 991px){
			padding: 15px;
		}
		@media(max-width: 767px){
			padding: 20px;
		}
	}
	
	.this-title{
		margin-top: 0;
		margin-bottom: 20px;
		font-size: 16px;
		font-family: $font2;
		font-weight: 800;
		text-transform: uppercase;
	}
	
	p{
		font-family: $font;
		line-height: 24px;
		margin: 0;
		font-weight: 300;
	}
}

.comments-area{
	padding-top: 70px;
	border-top: 1px solid;
	border-color: transparentize($color2,0.90);
	margin-top: 70px;
	.this-area-title{
		margin: 0;
		line-height: 1;
		text-transform: uppercase;
		font-family: $font2;
		font-weight: 800;
		color: $color5;
	}
	.this-sub-title{
		font-style: italic;
		font-family: $font;
		font-size: 16px;
		color: $color5;
	}
	&.from-area{
		border: none;
		padding-top: 0;
		margin-bottom: 25px;
	}
}

.comment-list{
	margin-bottom: 35px;	
}

.comment{
	padding: 35px 0;
	& + .comment{
		margin-top: 5px;
		border-top: 1px solid;
		border-color: #e6e9ee;
	}
	.media-left{
		padding-right: 50px;
		@media(max-width: 767px){
			padding-right: 15px;
		}
		a{
			width: 83px;
			display: block;
			height: 83px;
			img{
				max-width: 100%;
			}
		}
	}
	&.reply{
		padding-left: 133px;
		@media(max-width: 767px){
			padding-left: 30px;
		}
	}
	
	.this-title{
		text-transform: uppercase;
		font-weight: 800;
		color: $color7;
		font-family: $font;
		margin-top: 0;
		margin-bottom: 12px;
		i{
			text-transform: capitalize;
			margin-left: 7px;
			font-weight: 700;
			font-style: italic;
			color: $base-c1;
		}
	}
	p{
		font-family: $font;
		line-height: 24px;
		color: transparentize($color5,0.25);
		margin-bottom: 30px;
	}
	
	.reply-link{
		font-size: 13px;
		color: $base-c1;
		display: block;
		width: 33px;
		line-height: 31px;
		border: 1px solid;
		border-color: $base-c1;
		border-radius: 100%;
		text-align: center;
		&:hover,&:focus{
			color: $color2;
			border-color: $color2;
		}
	}
}

.comment-form{
	.form-control{
		margin-bottom: 40px;
		border-radius: 0;
		border: none;
		border-bottom: 1px solid;
		box-shadow: none;
		resize: none;
		padding: 0;
		line-height: 35px;
		height: auto;
		font-family: $font;
		font-weight: bold;
		color: $color5;
		border-bottom-color: transparentize($color2,0.9);
		&:focus{
			box-shadow: none;
		}
		@include placeholder{
			color: $color5;
			text-transform: uppercase;
		}
	}
	
	textarea.form-control{
		height: 185px;
		line-height: 24px;
	}
	
	.btn{
		background: transparent;
	}
}

.fleet-sidebar{
	
	.widget{
		& + .widget{
			margin-top: 50px;
		}
	}
	
	.widget-title{
		margin-bottom: 30px;
		font: 800 16px/50px $font2;
		color: #fff;
		margin-top: 0;
		border-left: 3px solid;
		border-left-color: $base-c1;
		padding-left: 30px;
		background: $color5;
		position: relative;
		overflow: hidden;
		&:before,&:after{
			content: '';
			background: no-repeat scroll center center;
			height: 50px;
			display: block;
			position: absolute;
			top: 0;
			opacity: 0.05;
		}
		
		.angle{
			display: block;
			height: 60px;
			width: 5px;
			background: #fff;
			position: absolute;
			top: -5px;
			right: 128px;
			transform: rotate(25deg);
		}
	}
	
	.widget-adjust .widget-title:after{
		width: 32px;
		right: 0;
		background-image: url(../images/icons/fleet-list2/5.png);
	}
	
	.widget-car-type .widget-title:after{
		width: 68px;
		right: 0;
		background-image: url(../images/icons/fleet-list2/1.png);
	}
	
	.widget-engine .widget-title:after{
		width: 40px;
		right: 0;
		background-image: url(../images/icons/fleet-list2/4.png);
	}
	
	.widget-pricing .widget-title:after{
		content: attr(data-next-title);
		padding-left: 60px;
		padding-right: 25px;
//		width: 40px;
		right: 0;
		background-image: url(../images/icons/fleet-list2/3.png);
		background-position: right center;
	}
	
	.widget-pricing .widget-title:before{
		width: 30px;
		right: 128px;
		background-image: url(../images/icons/fleet-list2/2.png);
		background-position: left center;
	}
	

	@media (max-width: 991px){
		.widget-ads{
			
			display: flex;
			justify-content: center;
			.this-ads img{
				position: inherit;
			}
		}
	}
	.widget-inner{
		background: #fff;
		box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
		border: 1px solid;
		border-color: #f8f8f8;
	}
	
	.widget-adjust .widget-inner{
		padding: 0 29px;
		
		.this-label{
			line-height: 1;
			margin-top: 19px;
			margin-bottom: 7px;
			font-family: $font;
			color: $color5;
		}
	}
	
	.fleet-filter-select.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn){
		width: 100%;
		margin-bottom: 19px;
	}
	
	.this-ads{
		height: 368px;
		position: relative;
		display: block;
		img{
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.category-dropdown{
	li{
		& + li{
			border-top: 1px solid;
			border-top-color: transparentize($color5,0.95);
		}
		a{
			line-height: 52px;
			padding: 0 30px;
			color: $color5;
			font-family: $font;
			position: relative;
			span{
				position: absolute;
				top: 0;
				right: 20px;
				line-height: 50px;
			}
			&:before{
				content: '';
				display: block;
				width: 0;
				height: 0;
				position: absolute;
				background: $base-c1;
				top: 50%;
				left: 0;
				transform: translateY(-50%);
				@include transition;
			}
			&:hover,&.active{
				background: none;
				color: $base-c1;
				&:before{
					height: 14px;
					width: 3px;
				}
			}
			&:focus{
				background: none;
			}
			& + ul{
				margin-bottom: 15px;
				li{
					padding-left: 30px;
					& + li{
						border: none;
					}
					a{
						line-height: 35px;
						padding-left: 20px;
						color: transparentize($color5,0.25);
						span{
							line-height: 35px;
						}
						&:before{
							content: '';
							width: 6px;
							height: 1px;
							margin-right: 14px;
							background: #000;
							opacity: 0.75;
							transform: none
						}
						&:hover,&:focus{
							&:before{
								height: 1px;
								width: 6px;
								background: $base-c1;
							}
						}
					}
				}
			}
		}
		&.active{
			a{
				color: $base-c1;
				&:before{
					height: 14px;
					width: 3px;
				}
			}
		}
	}
}

input[name="engine-type"]{
	display: none;
	& + label{
		display: block;
		line-height: 52px;
		padding: 0 30px;
		color: transparentize($color5,0.25);
		font-family: $font;
		position: relative;
		font-weight: normal;
		border-bottom: 1px solid;
		border-bottom-color: transparentize($color5,0.95);
		&:last-child{
			border: none;
		}
		span{
			position: absolute;
			top: 0;
			right: 20px;
			line-height: 50px;
		}
		&:before{
			content: "\f372";
			float: left;
			width: 25px;
			font-family: "Ionicons";
			font-size: 18px;
		}
	}
	&:checked + label{
		color: $color5;
		&:before{
			content: '\f374';
		}
	}
}