.update-partners{
	padding: 35px 0;
}

.updates{
	.stars{
		margin: 0;
	}
	.update-text{
		font-family: $font;
		font-size: 16px;
		line-height: 36px;
		.this-title{
			line-height: 34px;
			padding: 0 18px;
			display: inline-block;
			margin-right: 10px;
			text-transform: uppercase;
			border-radius: 20px;
			border: 1px solid;
		}
		span{
			font-weight: bold;
		}
		sub{
			font-size: 10px;
		}
		.price{
			font-size: 18px;
		}
		.save{
		}
		.slash{
			margin: 0 12px;
			font-weight: normal;
		}
	}
	@media (max-width: 991px){
		max-width: 630px;
		margin: 0 auto;
	}
}
.partners{
	text-align: center;
	@media(max-width: 767px){
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	li{
		display: inline-block;
		float: none;
		@media (max-width: 991px){
			padding: 0 12px;
		}
		& + li{
			margin-left: 99px;
			@media (max-width: 1199px){
				margin-left: 40px;
			}
			@media (max-width: 991px){
				margin-left: 0;
			}
		}
		a{
			padding: 0;
			line-height: 90px;
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
			opacity: 0.7;
			&:hover,&:focus{
				background: none;
				opacity: 1;
				-webkit-filter: grayscale(0);
				filter: grayscale(0);
			}
			@media(max-width: 991px){
				img{
					width: 115px;
					height: 115px;
				}
			}
			@media(max-width: 767px){
				img{
					width: 130px;
					height: 130px;
				}
			}
		}
	}
}