<!--Page Cover-->
<section class="row page-cover">
	<div class="container">
		<h2 class="h1 page-title">Вопросы и ответы</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Главная", root_path %></li>
			<li class="active">Вопросы и ответы</li>
		</ol>
	</div>
</section>

<section class="row wrapper-blog">
    <div class="container">
      <h2 class="text-center">Вопросы и ответы</h2>
      <div class="row wr-blog-res">
        <div class="col-md-9 col-sm-12 blog-section">
          <section class="row terms">
						<%= @faqs_text.html_safe  %>
            <!-- <div class="container">
              <div class="col-md-8">
                <h3 style="font-style: italic;">Какова ответственность клиента при повреждении автомобиля?</h3>
                <p>Если клиент не является виновником причиненного ущерба и предоставил надлежащим образом оформленные документы из соответствующих уполномоченных органов, то никакой ответственности он не несет.</p>
                <p>Если клиент не предоставил документы из соответствующих уполномоченных органов о повреждении автомобиля, то он несет полную ответственность за причиненный ущерб.</p>
                <p>Если клиент является виновником причиненного ущерба и предоставил надлежащим образом оформленные документы из соответствующих уполномоченных органов, то он несет ответственность в пределах 5000 рублей за обычный автомобиль и в пределах 15000 рублей за автомобиль бизнес-класса. При сильном повреждении автомобиля (более трех элементов кузова) — 10000 рублей за обычный автомобиль и 30000 рублей за автомобиль бизнес-класса.</p>
                <h3 style="font-style: italic;">Почему предусмотрена ответственность клиента, если автомобили застрахованы по КАСКО?</h3>
								<p>Мы стараемся предоставить клиенту максимально возможное качество услуги проката и высокий уровень защиты, сохранив при этом низкую стоимость аренды автомобиля. Договоры со страховыми компаниями заключены с франшизой, то есть предусмотрена минимальная сумма которая не подлежит возмещению в случае возникновения страхового случая по вине клиента. Эту часть ущерба, согласно нашему договору, возмещает клиент. В том числе, это является ограничительной мерой, во избежание небрежного отношения клиента к взятому напрокат автомобилю.</p>
                <h3 style="font-style: italic;">Как я могу быть уверен, что автомобиль не сломается в дороге?</h3>
								<p>Автомобиль является сложным техническим устройством и поломки случаются даже на новых автомобилях. Мы стараемся содержать автопарк в исправном техническом состоянии. Все автомобили регулярно проходят диагностику и обслуживание. Если же, все таки в дороге случилась неприятность, наши сотрудники готовы в любое время суток выехать к вам на помощь и осуществить ремонт или замену вышедшего из строя транспортного средства.</p>
                <h3 style="font-style: italic;">Что делать если с автомобилем случилась серьезная неисправность?</h3>
								<p>В случае возникновения любых вопросов, связанных с эксплуатацией арендованного автомобиля вы круглосуточно можете задать их в службу технической поддержки и получить соответствующую консультацию.</p>
								<p>Если неисправность мелкая и не препятствует дальнейшей эксплуатации автомобиля вы можете устранить ее на месте или доехав до ближайшей автомастерской. Расходы на устранение неисправностей, возникших не по вашей вине, мы вам компенсируем (обязательно согласование с техподдержкой). Если неисправность серьезная и возникла в результате естественного износа, мы выезжаем на место и осуществляем замену неисправного автомобиля. Если неисправность возникла по вине клиента или в результате эксплуатации заведомо неисправного автомобиля, подменный автомобиль не предоставляется, клиент возмещает расходы на ремонт.</p>
								<p>Пример 1. В результате износа патрубка охлаждающей системы вытекла охлаждающая жидкость, что привело к перегреву автомобиля. Клиент заметил сигнал контрольной лампы и прекратил эксплуатировать автомобиль, вызвал службу техподдержки. Клиенту предоставляется подменный автомобиль, расходы на ремонт несет прокатная компания.</p>
								<p>Пример 2. Во время использования машины загорелась контрольная лампа давления масла. Клиент продолжил движение. В результате вышел из строя двигатель. Подменный автомобиль не предоставляется, клиент возмещает расходы на ремонт автомобиля.</p>
                <h3 style="font-style: italic;">Как я могу убедится, что договор страховки КАСКО действительно заключен?</h3>
								<p>Мы не выдаем на руки клиенту договор страхования КАСКО, так как в этом нет необходимости, в отличие от полиса ОСАГО. Поэтому иногда клиенты задают такой вопрос. В этом отношении вы можете быть спокойны. Рамки ответственности клиента оговорены договором аренды автомобиля, ничего сверх указанного в договоре мы истребовать не сможем. Даже если по какой-то причине договор страхования КАСКО не будет своевременно продлен или будет отсутствовать, все риски, связанные с этим несет наша организация, клиент под защитой условий нашего договора!</p>
              </div>
            </div> -->
          </section>
        </div>
      </div>
    </div>
  </section>

  <%= render 'shared/footer' %>
