<!--Page Cover-->
<section class="row page-cover">
	<div class="container">
		<h2 class="h1 page-title">Вопросы и ответы</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Главная", root_path %></li>
			<li class="active">Вопросы и ответы</li>
		</ol>
	</div>
</section>

<section class="row wrapper-blog">
    <div class="container">
      <h2 class="text-center">Вопросы и ответы</h2>
      <div class="row wr-blog-res">
        <div class="col-md-9 col-sm-12 blog-section">
          <section class="row terms">
            <div class="container">
              <div class="col-md-8">
                <h3>Какова ответственность клиента при повреждении автомобиля?</h3>
                <p>Если клиент не является виновником причиненного ущерба и предоставил надлежащим образом оформленные документы из соответствующих уполномоченных органов, то никакой ответственности он не несет.</p>
                <p>Если клиент не предоставил документы из соответствующих уполномоченных органов о повреждении автомобиля, то он несет полную ответственность за причиненный ущерб.</p>
                <p>Если клиент является виновником причиненного ущерба и предоставил надлежащим образом оформленные документы из соответствующих уполномоченных органов, то он несет ответственность в пределах 5000 рублей за обычный автомобиль и в пределах 15000 рублей за автомобиль бизнес-класса. При сильном повреждении автомобиля (более трех элементов кузова) — 10000 рублей за обычный автомобиль и 30000 рублей за автомобиль бизнес-класса.</p>
                <h3>Почему предусмотрена ответственность клиента, если автомобили застрахованы по КАСКО?</h3>
                <h3>Как я могу быть уверен, что автомобиль не сломается в дороге?</h3>
                <h3>Что делать если с автомобилем случилась серьезная неисправность?</h3>
                <h3>Придется ли мне оплачивать ремонт?</h3>
              </div>
            </div>
          </section>
        </div>
        <!--Sidebar-->
        <div class="col-md-3 col-sm-12 sidebar">
          <!--Widget - Category-->
          <div class="row widget widget-category" >
            <h4 class="widget-title">Основные условия</h4>
            <ul class="nav widget-nav">
              <li><i class="fa fa-caret-right"></i>Возраст старше 26 лет</li>
              <li><i class="fa fa-caret-right"></i>Минимальный стаж 3 года</li>
              <li><i class="fa fa-caret-right"></i>Выезд за границу запрещен</li>
              <li><i class="fa fa-caret-right"></i>Франшиза 10 тыс рублей</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'shared/footer' %>
