<%= render 'header' %>
<%= render 'left_sidebar' %>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header sty-one">
      <h1>Админка</h1>
      <ol class="breadcrumb">
        <li><a href="#">Главная</a></li>
        <li><i class="fa fa-angle-right"></i> Редактируем авто <%= @car.car_name  %></li>
      </ol>
    </div>

    <!-- Main content -->
    <div class="content">
      <div class="row">
        <p>Тут что то будет</p>
      </div>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render 'footer'  %>
<!-- ./wrapper -->
