<% title @bookings_title %>
<% description @bookings_description %>

<section class="row wrapper-car-details">
  <div class="container">
    <div class="row car-dt">
      <div class="col-sm-12 col-md-8 col-xs-12 car-images fleet">
      </div>
    </div>
    <div id='hello'>
      <app>
      </app>
    </div>
    <div class="col-md-12" style="font-weight: bold;">
      <%= @bookings_bottom_text.html_safe %>
      <%# <p>Цены на доставку указаны в рабочее время, возможность и цены доставки в нерабочее время уточняйте у наших менеджеров.</p>
      <p>Выдача и прием автомобиля в офисе в нерабочее время с 21-00 до 9-00 составляет 400 руб.</p>
      <p>Прием автомобиля в городе в выходные и праздничные дни в рабочее время - 300 руб.</p>
      <p>Выдача и прием автомобиля по городу в нерабочее время с 21-00 до 9-00 составляет 500 руб.</p>
      <p>Выдача и прием автомобиля в аэропорту в нерабочее время с 21-00 до 9-00 составляет 700 руб.</p> %>
    </div>
  </div>
</section>
<%= render 'shared/footer' %>
