<footer class="row site-footer">
  <div class="bottom-footer row m0">
    <div class="container">
      <div class="row">
        Copyright © 2017 by <a href="#">Haintheme</a>. Designed by <a href="#">PukDG</a>. All rights reserved!
      </div>
    </div>
  </div>
</footer>
