<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Новое сообщение со страницы контактов</h1>
    <p>Имя: <%= @contact.name %></p>
    <p>Телефон: <%= @contact.phone %></p>
    <p>Email: <%= @contact.email %></p>
    <p>Текст: <%= @contact.message %></p>
  </body>
</html>
