<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Ура! Новый отзыв!</h1>
    <p>Имя: <%= @review.name %></p>
    <p>Email: <%= @review.email %></p>
    <p>Текст: <%= @review.text %></p>
  </body>
</html>
