<!--Page Cover-->
<section class="row page-cover">
	<div class="container">
		<h2 class="h1 page-title">О нас</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Главная", root_path %></li>
			<li class="active">О нас</li>
		</ol>
	</div>
</section>

<section class="row wrapper-blog">
    <div class="container">
      <h2 class="text-center">О нас</h2>
      <div class="row wr-blog-res">
        <div class="col-md-12 col-sm-12 blog-section">
          <section class="row terms">
            <div style="font-size:15px;">
              <p>Компания Амиго основана в 2008 году. Все эти годы компания динамично развивалась и прочно заняла лидирующие позиции на рынке
проката автомобилей в Калининградской области. В планах на ближайшее будущее — открытие филиалов в других регионах России.
С первых дней существования руководством компании был избран клиентоориентированный подход в работе. Мы любим и ценим наших
клиентов, стараемся сделать так, чтобы они вернулись к нам снова, рекомендовали нас своим знакомым. Внимательно рассматриваем
предложения и отзывы наших клиентов. Доброжелательные и отзывчивые сотрудники нашей организации всегда готовы прийти к Вам
на помощь.</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>

  <%= render 'shared/footer' %>
