<% title @abouts_title %>
<% description @abouts_description %>
<!--Page Cover-->
<section class="row page-cover">
	<div class="container">
		<h2 class="h1 page-title">О нас</h2>
		<ol class="breadcrumb">
			<li><%= link_to "Главная", root_path %></li>
			<li class="active">О нас</li>
		</ol>
	</div>
</section>

<section class="row wrapper-blog">
    <div class="container">
      <h2 class="text-center">О нас</h2>
      <div class="row wr-blog-res">
        <div class="col-md-12 col-sm-12 blog-section">
          <section class="row terms">
						<%= @about_text.html_safe %>
          </section>
        </div>
      </div>
    </div>
  </section>

  <%= render 'shared/footer' %>
