<div class="container" style="margin-bottom: 10px;">
  <div class="col-md-12">
    <div class="row m0 comments-area text-center">
    	<h2 class="this-area-title">Цены</h2>
      <h4 class="this-sub-title">Цены действительны до 28 февраля 2018 года</h4>
    </div>
    <div class="container">
      <table class="table-prices table table-striped text-center">
        <thead style="position: static; overflow: visible;">
          <tr>
          <td rowspan="2" style="vertical-align:middle;">Марка, модель<br>автомобиля</td>
          <td rowspan="2" style="vertical-align:middle;">Кузов</td>
          <td colspan="6" style="vertical-align:middle;">Цена</td>
          <td rowspan="2" style="vertical-align:middle;">Почасовая<br>оплата<br>(&gt;1сут.)</td>
          <td rowspan="2" style="vertical-align:middle;">Залог</td>
          <td rowspan="2" style="vertical-align:middle;">Заказать</td>
          </tr>

          <tr>
            <td style="vertical-align:middle;">1<br>сутки </td>
            <td style="vertical-align:middle;">2-3<br>суток</td>
            <td style="vertical-align:middle;">4-7<br>суток</td>
            <td style="vertical-align:middle;">8-14<br>суток</td>
            <td style="vertical-align:middle;">15-30 суток</td>
            <td style="vertical-align:middle;">&gt; 30 суток</td>
          </tr>
          </thead><thead style="visibility: hidden; display: none;">
          <tr>
          <td rowspan="2" style="vertical-align:middle;">Марка, модель<br>автомобиля</td>
          <td rowspan="2" style="vertical-align:middle;">Кузов</td>
          <td colspan="6" style="vertical-align:middle;">Цена</td>
          <td rowspan="2" style="vertical-align:middle;">Почасовая<br>оплата<br>(&gt;1сут.)</td>
          <td rowspan="2" style="vertical-align:middle;">Залог</td>
          <td rowspan="2" style="vertical-align:middle;">Заказать</td>
          </tr>

          <tr>
          <td>1<br>сутки </td>
          <td>2-3<br>суток</td>
          <td>4-7<br>суток</td>
          <td>8-14<br>суток</td>
          <td>15-30 суток</td>
          <td>&gt; 30 суток</td>
          </tr>
          </thead>
        <tbody>
          <tr>
      	  	<td>
      	  		<div class="price-action"></div>
              <a href="/cars/83/" class="car-picture">
                <img src="">
              </a>
      				<div class="manual">механическая</div>
      				<div class="width_conditioner">есть</div>
      				<a class="s-title" href="/cars/83/">Mitsubishi Colt</a>
      			</td>
  					<td>
  					  <div class="HATCHBACK">Хэтчбек</div>
  					</td>
					  <td>
							<span class="old-price">1500</span>
							<div class="">1000</div>
						</td>
  					<td>
  						<span class="old-price">1500</span>
  						<div class="">1000</div>
  					</td>
					  <td>
							<span class="old-price">1400</span>
							<div class="">1000</div>
						</td>
  					<td>
    					<span class="old-price">1300</span>
    					<div class="">1000</div>
  					</td>
  					<td>
    					<span class="old-price">1200</span>
    					<div class="">1000</div>
  					</td>
  					<td>
  						<span class="old-price">1100</span>
  						<div class="">1000</div>
  					</td>
  					<td>
  						<div class="">150</div>
  					</td>
  					<td>
  						<div class="">3000</div>
  					</td>
    				<td>
              <a href="/order/?car=83" class="btn">Заказать</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
