@import "bootstrap-sprockets";
@import "bootstrap";
@import "pages";
@import "font-awesome.min";
@import "ionicons";
@import "simple-line-icons";
@import "style";
@import "theme";
@import "lightslider";

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

 /* Таблица сделана зеброй моим цветом */
 .table>tbody>tr:nth-child(even)>td,
 .table>tbody>tr:nth-child(even)>th {
   vertical-align: middle;
 }
 .table>tbody>tr:nth-child(odd)>td,
 .table>tbody>tr:nth-child(odd)>th {
    vertical-align: middle;
  }
  .table-prices {
    border-radius: 10px;
    border-spacing: 0;
     background-color: rgba(135, 245, 245, 0.1);
     vertical-align: middle;
     border-collapse: collapse;
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }

  .table-prices td {
    vertical-align: middle;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
  .old-price {
    text-decoration: line-through;
  }
  .end-column {
  }
  .table-prices thead {
    text-shadow: 0px 0px 1px #2D2020;
  }
  .table-prices tbody {
    font-size: 18px;
  }
  .car-name a {
    color: #2b2e4a;
  }
  .manual-transmission,.automatic-transmission {
    height: 30px;
    margin-top: 3px;
  }
  .air-conditioner {
    height: 30px;
    margin-top: 3px;
  }
  .car-list-prices {
    border-radius: 5px;
  }
  .real-price {
    font-weight: bold;
  }
  .prices-th {
    background-color: rgba(245, 137, 15, 0.5);
    color: black;
  }
  .contact-label {
    color: #f77d0a;
    margin-bottom: 35px;
    margin-top: 15px;
  }
  .terms ul {
    list-style-image: url(/images/book.png); /* Путь к изображению маркера */
   }

   .sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 15px;
  }
  .about-text {
    max-width: 750px;
  }

  // Forms
  .form-group {
    margin-bottom: 25px;
  }

  .form-control {
    border-radius: 2px;
    height: 4rem;
  }

  .form-group input {
    height: 45px;
    border: 1px solid #00A699;
  }

  .form-group textarea {
    border: 1px solid #00A699;
  }

  .form-group select {
    width: 100%;
    color: #565a5c;
    background-color: white;
    border: 1px solid #00A699;
    border-radius: 2px;
    padding: 10px;
    appearance: none;
    -moz-appearance:none; /*Firefox*/
    -webkit-appearance: none; /*Safari & Chrome*/
  }

  .select:before {
    content: '\25bc';
    font-size: 1.2em;
    position: absolute;
    color: #00A699;
    top: 35px;
    right: 30px;
    transform: scale(0.94, 0.62);
  }

  .form-group input[type="checkbox"] {
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    margin-right: 5px;
    vertical-align: top;
    border: 1px solid #00A699;
    border-radius: 2px;
    appearance: none;
    -moz-appearance:none; /*Firefox*/
    -webkit-appearance: none; /*Safari & Chrome*/
  }

  .form-group input[type="checkbox"]:checked::before {
    content: '\2713';
    position: absolute;
    font-size: 0.95em;
    text-align: center;
    width: 1.25em;
    color: #00A699;
  }
