<!--Page Cover-->
	<section class="row page-cover">
		<div class="container">
			<h2 class="h1 page-title">Автомобили</h2>
			<ol class="breadcrumb">
				<li><a href="/">Главная</a></li>
				<li class="active">Автомобили</li>
			</ol>
		</div>
	</section>
	<section class="row wrapper-fleet">
		<div class="container">
			<%= render 'cars/cars_list' %>
		</div>
	</section>
