<section class="row video-testimonial">
  <div class="container">
<div class="row">
  <h2>Carousel Reviews</h2>
</div>
</div>
<div class="carousel-reviews broun-block">
  <div class="container">
      <div class="row">
          <div id="carousel-reviews" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% count = 0 %>
                <% @reviews.each do |review| %>
                  <% if review.active? %>
                    <% count += 1 %>
                    <% if count <= 3 %>
                      <div class="item active">
                    <% else %>
                      <div class="item">
                    <% end %>
                      <div class="col-md-4 col-sm-6 hidden-sm hidden-xs">
                        <div class="block-text rel zmin">
                          <h3><%= review.name %></h3>
                          <p><%= truncate review.text, length: 300 %></p>
                          <ins class="ab zmin sprite sprite-i-triangle block"></ins>
                        </div>
                        <div class="person-text rel">
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <a class="left carousel-control" href="#carousel-reviews" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-reviews" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
          </div>
      </div>
  </div>
</div>
</section>
